<div>
    <h2 data-translate="wifiMgmtApp.landingPage.home.title">Landing Pages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="landing-page-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="wifiMgmtApp.landingPage.home.createLabel">
                        Create new Landing Page
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'wifiMgmtApp.landingPage.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="wifiMgmtApp.landingPage.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="text1"><span data-translate="wifiMgmtApp.landingPage.text1">Text 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="text2"><span data-translate="wifiMgmtApp.landingPage.text2">Text 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="text3"><span data-translate="wifiMgmtApp.landingPage.text3">Text 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image1"><span data-translate="wifiMgmtApp.landingPage.image1">Image 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image2"><span data-translate="wifiMgmtApp.landingPage.image2">Image 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image3"><span data-translate="wifiMgmtApp.landingPage.image3">Image 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="themeId"><span data-translate="wifiMgmtApp.landingPage.theme">Theme</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orgId"><span data-translate="wifiMgmtApp.landingPage.org">Org</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="landingPage in vm.landingPages track by landingPage.id">
                    <td><a ui-sref="landing-page-my-suffix-detail({id:landingPage.id})">{{landingPage.id}}</a></td>
                    <td>{{landingPage.name}}</td>
                    <td>{{landingPage.text1}}</td>
                    <td>{{landingPage.text2}}</td>
                    <td>{{landingPage.text3}}</td>
                    <td>{{landingPage.image1}}</td>
                    <td>{{landingPage.image2}}</td>
                    <td>{{landingPage.image3}}</td>
                    <td>
                        <a ui-sref="theme-my-suffix-detail({id:landingPage.themeId})">{{landingPage.themeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="organization-my-suffix-detail({id:landingPage.orgId})">{{landingPage.orgId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="landing-page-my-suffix-detail({id:landingPage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="landing-page-my-suffix.edit({id:landingPage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="landing-page-my-suffix.delete({id:landingPage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
