<div id="login-wrapper">

    <div class="login-form">
        <div class="logo text-center mb30"><img src="/content/new_ui_content/images/logo-login.svg" alt=""></div>

        <div class="panel panel-default mb30">
            <form action="">
                <div class="panel-heading text-center">Đăng Nhập</div>
                <div class="panel-body">
                    <div class="mb20">
                        <label class="title">TÊN ĐĂNG NHẬP</label>
                        <input type="text" id="txtUsername" class="form-control input-lg" placeholder="Nhập tên đăng nhập...">
                    </div>

                    <div class="mb20">
                        <label class="title">MẬT KHẨU</label>
                        <input type="password" id="txtPassword" class="form-control input-lg" placeholder="Nhập mật khẩu...">
                    </div>

                    <label><input type="checkbox" class="mr5"> Duy trì đăng nhập</label>

                    <div class="row mt30">
                        <div class="col-xs-10 col-xs-offset-1">
                            <a href="index.html" class="btn btn-blue btn-block btn-lg">ĐĂNG NHẬP</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <hr class="mt20 mb10">
                    <a href="#" class="gray-color"><small>Quên mật khẩu?</small></a>
                </div>
            </form>
        </div>
        <div class="text-center small mb10">
            Bạn chưa có tài khoản? <a href="register.html"><strong>Đăng ký ngay</strong></a>
        </div>
    </div>




    <div class="powered-by text-center">&copy; 2017 <strong>Công ty cổ phần VNG</strong></div>

</div>
