<div id="header">

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navi-collapse"><i class="zmdi zmdi-menu zmdi-hc-lg"></i></a>
				<a class="navbar-brand" href="#">
					<img alt="123Wifi" src="/content/new_ui_content/images/logo-header.svg">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="navi-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#section-intro" class="anchor">GIỚI THIỆU</a></li>
					<li><a href="#section-feature" class="anchor">TÍNH NĂNG</a></li>
					<li><a href="faq.html" target="_blank">HỎI/ĐÁP</a></li>
					<li><a href="#section-download" class="anchor">DOWNLOAD</a></li>
					<li><a href="#section-contact" class="anchor">LIÊN HỆ</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->

		</div>
	</nav>

	<div class="mid-content">
		<p class="slogan">123Wifi - Giải pháp quản trị hệ thống Wifi<br>
		từ bất cứ nơi nào có Internet</p>

		<div class="mt30">
			<a href="" ui-sref="login" class="btn btn-white mr15 min-w150">Đăng Nhập</a>
			<a href="" ui-sref="register" data-toggle="modal" class="btn btn-white-border min-w150">Đăng Ký</a>
		</div>
	</div>

</div>
