
<div *ngIf="firstEntity">
    <h2><span jhiTranslate="deviceMgmtApp.firstEntity.detail.title">First Entity</span> {{firstEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="deviceMgmtApp.firstEntity.firstEntityfield1">First Entityfield 1</span></dt>
        <dd>
            <span>{{firstEntity.firstEntityfield1}}</span>
        </dd>
        <dt><span jhiTranslate="deviceMgmtApp.firstEntity.firstEntityfield2">First Entityfield 2</span></dt>
        <dd>
            <span>{{firstEntity.firstEntityfield2}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'first-entity-my-suffix/'+ firstEntity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
